@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialised;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeSpeed;
  font-family: "Poppins", sans-serif;
}

a:hover,
a:active,
a:focus,
input:hover,
input:active,
input:focus,
button:hover,
button:active,
button:focus {
  outline: none;
  box-shadow: none;
}

html,
body {
  min-height: 100%;
  background-color: #fff;
}
